*

!build.gradle
!gradlew
!gradlew.bat
!README.md
!src
!src/*
!src/*/*
!src/*/*/*
!src/*/*/*/*
!src/*/*/*/*/*
!src/*/*/*/*/*/*
!src/*/*/*/*/*/*/*
!src/*/*/*/*/*/*/*/*
!gradle
!gradle/wrapper
!gradle/wrapper/*